registry = https://registry.npm.taobao.org
puppeteer_download_host = https://itextbook-prod-1252350207.cos.ap-beijing.myqcloud.com/
sharp_dist_base_url = https://itextbook-prod-1252350207.cos.ap-beijing.myqcloud.com/sharp-libvips/8.9.1/